<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rabbit">
    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="load_shooter" default="false"/>
    <xacro:arg name="load_shooter_transmission" default="false"/>
    <xacro:arg name="load_shooter_collection_transmission" default="false"/>
    <xacro:arg name="load_shooter_collection" default="false"/>
    <xacro:arg name="load_collect" default="false"/>
    <xacro:arg name="load_collect_transmission" default="false"/>
    <xacro:arg name="load_radar" default="false"/>
    <xacro:arg name="load_action" default="false"/>
    <xacro:arg name="use_sim" default="true"/>
    <xacro:arg name="use_simulation" default="false"/>
    <xacro:arg name="roller_type" default="simple"/>


    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/chassis.urdf.xacro"/>
        <xacro:chassis roller_type="$(arg roller_type)"/>
    </xacro:if>

    <xacro:if value="$(arg load_shooter)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/shooter.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg load_shooter_collection_transmission)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/shooter_collection.transmission.urdf.xacro"/>
        <xacro:shooter_collect_transmission simulation="$(arg use_sim)"/>
    </xacro:if>   

    <xacro:if value="$(arg load_shooter_transmission)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/shooter.transmission.urdf.xacro"/>
        <xacro:shooter_transmission simulation="$(arg use_sim)"/>

    </xacro:if>

    <xacro:if value="$(arg load_shooter_collection)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/shooter_collection.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg load_collect)">
        <xacro:include filename="$(find rc_description)/urdf/rabbit/collect.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg load_radar)">
        <xacro:include filename="$(find rc_description)/urdf/common/radar.urdf.xacro"/>
        <xacro:RADAR connected_to="base_link" radar_name="radar" use_sim="$(arg use_sim)"
                     xyz="0.0 0.0 0.55"
                     rpy="0.0 0.0 0.0"/>
    </xacro:if>

    <xacro:if value="$(arg load_action)">
        <xacro:include filename="$(find rc_description)/urdf/common/action.urdf.xacro"/>
        <xacro:ACTION connected_to="base_link" action_name="location_action" use_sim="$(arg use_sim)"
                      xyz="0.0 0.0 0.0"
                      rpy="0.0 0.0 0.0"/>
    </xacro:if>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rc_ros_control" filename="librc_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rc_gazebo/rcRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>