<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shooter_collect">  
    <link
    name="left_plank">
    <inertial>
      <origin
        xyz="-1.06108705257291E-05 -0.00300023197400345 -4.62256715999532E-06"
        rpy="0 0 0" />
      <mass
        value="0.826114775861148" />
      <inertia
        ixx="0.00633155064836195"
        ixy="-1.75295604709037E-08"
        ixz="-0.00304060204720209"
        iyy="0.0127877892050003"
        iyz="-7.63665625446242E-09"
        izz="0.00646119550072082" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_plank.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_plank.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_plank"
    type="fixed">
    <origin
      xyz="-0.0985167271525541 0.144 0.135854182720784"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_plank" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="roller_1">
    <inertial>
      <origin
        xyz="-6.93889390390723E-17 0.00893909684642538 0.000796584016253377"
        rpy="0 0 0" />
      <mass
        value="0.0912219490187341" />
      <inertia
        ixx="0.000709081108578137"
        ixy="4.93727150973151E-18"
        ixz="-1.96940306760166E-22"
        iyy="1.57641974502995E-06"
        iyz="2.5267640023552E-08"
        izz="0.000709122074100633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roller_1"
    type="fixed">
    <origin
      xyz="0.0451557902442824 -0.144999999999999 0.0638992568381528"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="roller_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="roller_2">
    <inertial>
      <origin
        xyz="-5.89805981832114E-17 0.00893909684642538 0.000796584016253321"
        rpy="0 0 0" />
      <mass
        value="0.0912219490187343" />
      <inertia
        ixx="0.000709081108578138"
        ixy="4.93810809719741E-18"
        ixz="-2.16961524981154E-22"
        iyy="1.57641974502996E-06"
        iyz="2.52676400235076E-08"
        izz="0.000709122074100634" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roller_2"
    type="fixed">
    <origin
      xyz="0.0648203736990817 -0.145 0.0237332991432436"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="roller_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="roller_3">
    <inertial>
      <origin
        xyz="3.70199409695515E-05 -3.20923843055709E-17 0.000797746614562278"
        rpy="0 0 0" />
      <mass
        value="0.0860473593746572" />
      <inertia
        ixx="0.00058757448556698"
        ixy="4.09830840751918E-18"
        ixz="1.76979677197644E-09"
        iyy="1.51314156192979E-06"
        iyz="2.08565044642892E-18"
        izz="0.000587612540975832" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roller_3"
    type="fixed">
    <origin
      xyz="-0.136886915697788 -0.145000000000002 -0.174585172893414"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="roller_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="roller_4">
    <inertial>
      <origin
        xyz="-0.00012165711583717 -6.07153216591882E-18 0.000789284285439062"
        rpy="0 0 0" />
      <mass
        value="0.0860473593746571" />
      <inertia
        ixx="0.000587575290385575"
        ixy="4.09167220981678E-18"
        ixz="-5.75431562508792E-09"
        iyy="1.51314156192979E-06"
        iyz="2.02803965179774E-18"
        izz="0.000587611736157237" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/roller_4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roller_4"
    type="fixed">
    <origin
      xyz="-0.117047838050014 -0.145000000000002 -0.214741824723186"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="roller_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_tude_1">
    <inertial>
      <origin
        xyz="1.2490009027033E-16 -5.55111512312578E-17 -0.0100000000000001"
        rpy="0 0 0" />
      <mass
        value="0.0462290177812251" />
      <inertia
        ixx="5.60642772599331E-06"
        ixy="-1.4651399239393E-18"
        ixz="1.44062119327084E-20"
        iyy="0.000207048821374856"
        iyz="-6.88832137954897E-21"
        izz="0.00020705966846962" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_tude_1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_tude_1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_tude_1"
    type="fixed">
    <origin
      xyz="0.0335167271526105 0.0100000000000003 -0.00585418272078414"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="left_tude_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_tude_2">
    <inertial>
      <origin
        xyz="0.01 0 1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.059890969983531" />
      <inertia
        ixx="0.000441752342293642"
        ixy="3.67058949069745E-21"
        ixz="3.42832949666562E-19"
        iyy="0.000441789991336352"
        iyz="-1.49077753480317E-18"
        izz="7.25124799577811E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_tude_2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/left_tude_2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_tude_2"
    type="fixed">
    <origin
      xyz="-0.101483272847386 0.0100000000000033 0.0221458172792158"
      rpy="0 0 0" />
    <parent
      link="left_plank" />
    <child
      link="left_tude_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="motor">
    <inertial>
      <origin
        xyz="4.4030950121926E-06 -0.000141580673475375 -1.50366661344492E-08"
        rpy="0 0 0" />
      <mass
        value="0.0677956824422188" />
      <inertia
        ixx="1.43662852572525E-05"
        ixy="-6.60703805630175E-09"
        ixz="1.23425181141762E-12"
        iyy="1.4149590981366E-05"
        iyz="-4.13510681298018E-13"
        izz="1.43642847284998E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/motor.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/motor.stl" />
      </geometry>
    </collision>
  </link> 
  <link
    name="right_plank">
    <inertial>
      <origin
        xyz="2.12143584255725E-05 0.00299976802599652 9.24191811996211E-06"
        rpy="0 0 0" />
      <mass
        value="0.826114775861148" />
      <inertia
        ixx="0.00633155064836195"
        ixy="-1.75295604708949E-08"
        ixz="-0.00304060204720209"
        iyy="0.0127877892050003"
        iyz="-7.63665625446242E-09"
        izz="0.00646119550072082" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_plank.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_plank.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_plank"
    type="fixed">
    <origin
      xyz="-0.0985485523815034 -0.146 0.135840318235505"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_plank" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_tude_1">
    <inertial>
      <origin
        xyz="1.31838984174237E-16 0 -0.0100000000000001"
        rpy="0 0 0" />
      <mass
        value="0.0462290177812251" />
      <inertia
        ixx="5.60642772599331E-06"
        ixy="-1.46514046919996E-18"
        ixz="1.4406331836795E-20"
        iyy="0.000207048821374856"
        iyz="-6.88832137954896E-21"
        izz="0.00020705966846962" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_tude_1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_tude_1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_tude_1"
    type="fixed">
    <origin
      xyz="0.0335485523815367 -0.00999999999999976 -0.00584031823550402"
      rpy="0 0 0" />
    <parent
      link="right_plank" />
    <child
      link="right_tude_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_tude_2">
    <inertial>
      <origin
        xyz="0.0100000000000001 0 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.059890969983531" />
      <inertia
        ixx="0.000441752342293642"
        ixy="3.67058949069745E-21"
        ixz="3.42832949666562E-19"
        iyy="0.000441789991336352"
        iyz="-1.4939280508833E-18"
        izz="7.25124799577811E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_tude_2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rc_description/meshes/rabbit/right_tude_2.stl" />
      </geometry>
    </collision>
    </link>
    <joint
      name="right_tude_2"
      type="fixed">
      <origin
        xyz="-0.10145144761846 -0.0100000000000008 0.022159681764496"
        rpy="0 0 0" />
      <parent
        link="right_plank" />
      <child
        link="right_tude_2" />
      <axis
        xyz="0 0 0" />
    </joint>
    <joint
      name="trans_motor"
      type="revolute">
      <origin
        xyz="0.0099621 -0.0308 0.091962"
        rpy="0 0 0" />
      <!--      limit not work while type="continuous"-->
      <limit effort="5." velocity="50." lower="-1e9" upper="1e9"/>
      <dynamics damping="0.01" friction="0.02"/>  
      <parent
        link="left_plank" />
      <child
        link="motor" />
      <axis
        xyz="0 1 0" />
    </joint>
</robot>