<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="elephant">
    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="load_radar" default="true"/>
    <xacro:arg name="load_action" default="true"/>
    <xacro:arg name="roller_type" default="simple"/>
    <xacro:arg name="use_sim" default="true"/>
    
    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find rc_description)/urdf/elephant/chassis.urdf.xacro"/>
        <xacro:chassis roller_type="$(arg roller_type)"/>
    </xacro:if>

    <xacro:if value="$(arg load_radar)">
        <xacro:include filename="$(find rc_description)/urdf/common/radar.urdf.xacro"/>
        <xacro:RADAR connected_to="base_link" radar_name="radar" use_sim="$(arg use_sim)"
                     xyz="0.0 0.0 0.55"
                     rpy="0.0 0.0 0.0"/>
    </xacro:if>

    <xacro:if value="$(arg load_action)">
        <xacro:include filename="$(find rc_description)/urdf/common/action.urdf.xacro"/>
        <xacro:ACTION connected_to="base_link" action_name="location_action" use_sim="$(arg use_sim)"
                      xyz="-0.035 0 0"
                      rpy="0.0 0.0 0.0"/>
    </xacro:if>

</robot>

