<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
    <xacro:include filename="$(find rc_description)/urdf/common/omni_wheel.urdf.xacro"/>

    <!-- https://upload.wikimedia.org/wikipedia/commons/5/52/Wheelbase_and_Track.png -->
    <xacro:property name="chassis_radius" value="0.300"/>
    <xacro:property name="wheel_offset_z" value="-0.07625"/>

    <xacro:macro name="chassis" params="roller_type">

        <link name="base_link">
            <visual>
                <geometry>
                    <cylinder radius="0.1" length="0.08" />
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <material name="yellow">
                    <color rgba="0.8 0.3 0.1 0.5" />
                </material>
            </visual>
        </link>

        <xacro:omni_wheel prefix="front" connected_to="base_link"
                          wheel_x_offset="0.0" wheel_y_offset="0.358"
                          wheel_z_offset="${wheel_offset_z}" rotation_degree="0.0" roller_type="${roller_type}"
                          max_effort="5" max_velocity="50"
        />
        <xacro:omni_wheel prefix="left" connected_to="base_link"
                          wheel_x_offset="-0.31" wheel_y_offset="-0.179"
                          wheel_z_offset="${wheel_offset_z}" rotation_degree="2.094" roller_type="${roller_type}"
                          max_effort="5" max_velocity="50"
        />
        <xacro:omni_wheel prefix="right" connected_to="base_link"
                          wheel_x_offset="0.31" wheel_y_offset="-0.179"
                          wheel_z_offset="${wheel_offset_z}" rotation_degree="-2.094" roller_type="${roller_type}"
                          max_effort="5" max_velocity="50"
        />
        <xacro:wheel_transmission prefix="front" mechanical_reduction="-19.2032"/>
        <xacro:wheel_transmission prefix="left" mechanical_reduction="-19.2032"/>
        <xacro:wheel_transmission prefix="right" mechanical_reduction="-19.2032"/>

     </xacro:macro>


</robot>